@import './dialog.scss';
@import '../node_modules/xterm/css/xterm.css';
@import 'back-terminal.scss';
@import './lang.scss';
@import './ui.scss';
@import './startupApp.scss';
:root{
  --scroll-origin:0px;
  --finger-highlight-origin:0px;
  --theme-color: #000000;
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-right: env(safe-area-inset-right);
  --safe-area-bottom: env(safe-area-inset-bottom);
  --safe-area-left: env(safe-area-inset-left);
}
html, body {
  position:fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--theme-color);
  user-select: none;
}
button {
  padding: 10px;
  border-radius: 5px;
  background-color: orange;
  font-size: 20px;
  margin: 10px;
  border: 0px;
  font-size: large;
}
/*
dialog[open] {
  transform: translateY(0%);
}
dialog:not([open]),dialog.sent-back {
  transform: translateY(100%);
  display: block;
}
//dialog>
dialog>form>p{
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 8px;
  border-color:rgba(128, 128, 128, 0.63);
  margin: 0px;
  padding: 18px;
}
dialog>form>p.title{
  text-align: left;
  font-size: large;
  padding: 0px;
  padding-bottom: 8px;
  color: rgb(243, 243, 243);
}
dialog menu{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
dialog button{
  position: relative;
  font-size: large;
  border-width: 0px;
  border-radius: 5px;
  color: rgba(60, 138, 255, 0.911);
  background-color: transparent;
  padding: 12px 10px 4px 10px;
  margin: 0px;
}
dialog>form>p>button{
  position: fixed;
  right: 5px;
  padding: initial;
  padding: 2px 6px;
}
dialog>form>p  li {
  text-align: left;
  margin: 10px 0px;
}
dialog>form>p  li>* {
  display: inline-block;
  vertical-align: middle;
}



#menuIcons {
  position: absolute;
  top:0px;
  mix-blend-mode: difference;
  background-position: left,center, right;
}
#container {
  overflow: auto;
  scroll-snap-type: x mandatory;
  height: 90vh;
  width:100vw;
  display: flex;
}
#menuScrollBar{
  position:fixed;
  width: 100vw;
  height:10vh;
  bottom: 0vh;
  background-color:#23231d;
  background: rgba(0, 0, 0, 1);
}
/*
below, width should change if number of 

#menuhighlight{
  position: relative;
  overflow: hidden;
  width:33%;
  height:100%;
  border-radius: 50%;
  filter: blur(10px) contrast(10);
  background-color: rgba(255, 255, 255, 0.657);
  transition: left ease 400ms;
  left: var(--scroll-origin);
}

#menutouchlight{
  position: absolute;
  overflow: hidden;
  top:15%;
  filter: blur(10px) contrast(10);
  width:20%;
  height:70%;
  border-radius: 30%;
  background-color: rgba(255, 255, 255, 0.657);
  transition: left ease 400ms;
  left: var(--scroll-origin);
}
#container::-webkit-scrollbar{
  height:0px;
}

.area {
  scroll-snap-align: start;
  width:100vw;
  flex: none;
  overflow-y: scroll;
}
body{
  margin: 0px;
  scroll-behavior: smooth;
  
}
.area:nth-child(even) {
  background-color: #0db;
}
.area:nth-child(odd) {
  background-color: #0bd;
}*/