//eiiii
//im gonna delete this file later because 
//i will make svg morphing version
//instead of this bullshit

:root {
  --startup-animation-logo-color: #00fdff;
  --startup-animation-logo-max-length: calc(max(50vh, 50vw) * 1.2)
}

#startup {
  position: fixed;
  background-color: black;
  display: flex;
  z-index: 100200;
  transform: translateZ(200px);
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  transition: opacity 1s ease 2s;
  svg#logo_anime {
    width:100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    top:0px;
    left: 0px;
    >g{
      fill: url(#logo_grad);
    }
  }
}

#startup.clear {
  opacity: 0;
}