<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">
    <link rel="icon" sizes="any" href="../icon/favicon.ico" type="image/png">
    <!-- android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <!-- iOS -->
    <link rel="apple-touch-icon" href="../icon/favicon.ico" type="image/png">
    <link rel="apple-touch-icon" href="../icon/apple-touch-icon.png" type="image/png">
    <link rel="mask-icon" href="../icon/favicon.ico" color="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--OGP-->
    <meta property="og:image" content="https://hakqlo.github.io/icon/logoOGP.png">
    <meta property="og:site_name" content="MI">
    <meta property="og:description" content="MI's homepage">
    <!--"orientation": "landscape",-->
    <!--<link rel="manifest" href="../manifest.webmanifest">-->
    <script>
      globalThis.themeColor = "#000000";
    </script>
    <title>MI</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>

</html>